<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/header :: header">
    <title>Hello</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<style>
 .fieldError {
 border-color: #bd2130;
 color: #bd2130;
 }

 .errorText {
 color: #bd2130;
 border: none;
 }

 .bookmark_button_hide {
 display : none;
 }
</style>
<script type="text/javascript" th:inline="javascript" th:src="@{/jpaPublic_js/myPage.js}"></script>
<body>
<div class="container" style="max-width: 900px;">
    <div th:replace="fragments/joinPageHeader :: joinPageHeader"/>
    <nav>
        <div class="nav nav-tabs" id="nav-tab" role="tablist">
            <a class="nav-item nav-link active" id="nav-myInfo-tab" data-toggle="tab" href="#nav-myInfo"
               data-load="true"
               role="tab" aria-controls="nav-myInfo" aria-selected="true">My Info</a>
            <a class="nav-item nav-link" id="nav-myBoard-tab" data-toggle="tab" href="#nav-myBoard"
               data-load="false" data-url="/myPage/board"
               role="tab" aria-controls="nav-myBoard" aria-selected="false">Bookmarked Board</a>
            <a class="nav-item nav-link" id="nav-myArticle-tab" data-toggle="tab" href="#nav-myArticle"
               data-load="false" data-url="/myPage/article"
               role="tab" aria-controls="nav-myArticle" aria-selected="false">My Article</a>
        </div>
    </nav>
    <div class="tab-content" id="nav-tabContent">
        <!-- myInfo -->
        <div class="tab-pane fade show active" id="nav-myInfo" role="tabpanel" aria-labelledby="nav-myInfo-tab">
            <div class="myInfo_div" th:replace="myPage/myInfo :: myInfo"></div>
        </div>
        <!-- myBoard -->
        <div class="tab-pane fade" id="nav-myBoard" role="tabpanel" aria-labelledby="nav-myBoard-tab"></div>
        <!-- myArticle -->
        <div class="tab-pane fade" id="nav-myArticle" role="tabpanel" aria-labelledby="nav-myArticle-tab"></div>
    </div>
    <br/>
    <div th:replace="fragments/footer :: footer" />
</div> <!-- /container -->
</body>
</html>