<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/header :: header">
    <title>BoardList</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
<main role="main" class="container">
    <ul class="nav nav-pills pull-right">
        <li><a href="/login">LoginPage</a></li>
    </ul>
    <ul class="nav nav-pills pull-right">
        <li>
            <a href="/mainHome"><h3 class="text-muted">JPA-public Main</h3></a>
        </li>
    </ul>
    </br>
    <div class="page-header">
        <h1>게시글 목록</h1>
    </div>
    <!--  게시글이 한개도 존재하지 않을경우  -->
    <div th:if="${boardList.size() < 1}">
        <div class="card text-center border-primary mt-5 mb-5">
            <div class="card-body">
                <h3 class="card-title text-primary">게시물이 존재하지 않습니다.</h3>
            </div>
            <div class="card-footer text-muted">
                <button type="button" class="btn btn-primary waves-effect waves-light"
                        th:onclick="|location.href='@{/mainHome}'|">메인홈으로</button>
            </div>
        </div>
    </div>
    <div th:if="${boardList.size() >= 1}" class="starter-template">
        <table class="table table-bordered mb-4">
            <!-- CONTENTS !-->
            <thead>
            <tr>
                <th class="col-auto">번호</th>
                <th class="col-md-4">글제목</th>
                <th class="col-md-2">작성자</th>
                <th class="col-md-3">작성일</th>
                <th class="col-md-3">수정일</th>
            </tr>
            </thead>

            <tbody>
            <!-- CONTENTS !-->
            <tr th:each="board : ${boardList}" th:if="${board.status.name() != 'DELETED'}">
                <td th:text="${board.board_id}"></td>
                <td><a th:href="'/board/post/'+${board.board_id}" th:text="${board.title}"></a></td>
                <td th:text="${board.writer}"></td>
                <td th:text="${board.write_date} ? ${#temporals.format(board.write_date,'yyyy-MM-dd HH:mm')} : ${board.write_date}"></td>
                <td th:text="${board.update_date} ? ${#temporals.format(board.update_date,'yyyy-MM-dd HH:mm')} : no_update"></td>
            </tr>
            </tbody>
        </table>

        <!-- Pagination -->
        <div th:if="${lastPage} != 0" class="mb-2">
            <span class="badge badge-info">Page</span>
            <span th:each="pageNum : ${#numbers.sequence(1, lastPage)}" th:inline="text">
                <a th:id="${pageNum}" th:name="${pageNum}" th:href="@{/boards/list(page=${pageNum})}" th:text="${pageNum}"></a>
            </span>
            <!-- 글쓰기 버튼 -->
            <a style="float: right" class="btn btn-primary" href="#"
               th:onclick="boards_createBoard('[[${member.isBanned}]]', '[[${member.ban_end_time}]]')">글쓰기</a>
        </div>

        <!-- 검색 form -->
        <form class="mb-3" action="/board/word" method="get">
            <div class="text-center">
                <input id="keyword" name="keyword" type="text" placeholder="검색어를 입력해주세요.">
                <button type="submit" class="btn btn-primary">검색하기</button>
            </div>
        </form>
    </div>
    <div th:replace="fragments/footer :: footer" />
</main>
<script th:src="@{/jpaPublic_js/banValidation.js}"></script>
</body>
</html>