<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/header :: header">
  <title>Hello</title>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<script type="text/javascript" th:inline="javascript" th:src="@{/jpaPublic_js/report.js}"></script>
<script type="text/javascript" th:inline="javascript" th:src="@{/jpaPublic_js/comment.js}"></script>
<script type="text/javascript" th:inline="javascript" th:src="@{/jpaPublic_js/bookmark.js}"></script>
<script th:src="@{/jpaPublic_js/banValidation.js}"></script>
<style>
.errorText {
    color: #dc3545;
    border: none;
}

textarea {
  resize: none;
}

.writer_name {
  font-weight: bold;
  font-size: 1.2rem;
  font-style: italic;
}
</style>
<script th:inline="javascript">
  $(function () {

  });
</script>
<body>
<!--<nav class="navbar navbar-expand-md navbar-dark bg-dark fixed-top" th:replace="fragments/common :: menu('home')"></nav>-->
<main class="container">
  <div class="page-header">
    <h1>게시글</h1>
  </div>
  <div class="starter-template mt-5" th:object="${showBoardForm}">
    <!-- Member isBanned data -->
    <input id="member_isBanned" type="hidden" th:value="${member.isBanned}" />
    <input id="member_ban_end_time" type="hidden" th:value="${member.ban_end_time}" />
    <form class="form-horizontal" role="form" method="post">
      <div class="form-group">
        <label for="name" class="col-sm-2 control-label" style="float: left">작성자</label>
        <!-- 게시글 신고 버튼 -->
        <button type="button" class="btn btn-sm" style="float: right;"
                th:if="${showBoardForm.name} != ${showBoardForm.session_loginMemberName}"
                th:board_id="${showBoardForm.board_id}" th:board_writer="${showBoardForm.name}" th:report_item="|BOARD|"
                th:onclick="reportContent(this.getAttribute('board_id'), this.getAttribute('board_writer'), this.getAttribute('report_item'))">
          <span class="badge badge-danger">신고</span></button>
        <div class="col-sm-5" style="margin-top: 10px;">
          <input type="text" id="name" th:field="*{name}" class="form-control" placeholder="작성자" readonly/>
          <input type="hidden" th:field="*{board_id}" th:value="${board_id}"/>
        </div>
      </div>
      <div class="form-group">
        <label for="title" class="col-sm-2 control-label" style="float: left">제목</label>
        <div class="col-auto" style="margin-top: 10px;">
          <input type="text" id="title" th:field="*{title}" class="form-control" placeholder="제목"
                 th:attr="readonly = ${showBoardForm.name} != ${showBoardForm.session_loginMemberName}"/>
        </div>
      </div>
      <div class="form-group">
        <label for="content" class="col-sm-2 control-label" style="float: left">내용</label>
        <span class="errorText" th:if="${errors}" th:text="${errors}"
              th:classappend="${errors} ? 'h6' : 'form-control'">error text</span>
        <div class="col-auto">
          <textarea id="content" th:field="*{content}" class="form-control" placeholder="내용을 입력해 주세요."
                    th:attr="readonly = ${showBoardForm.name} != ${showBoardForm.session_loginMemberName}">
          </textarea>
        </div>
      </div>
      <div class="btn_wrap text-center mb-3 d-flex justify-content-center">
        <a th:href="@{/boards}" class="btn btn-secondary">뒤로 가기</a>
        <div th:if="${showBoardForm.name} == ${showBoardForm.session_loginMemberName}" class="ml-1">
          <button type="submit" class="btn btn-primary waves-effect waves-light">수정 하기</button>
          <button type="button" class="btn btn-danger waves-effect waves-light"
                  th:onclick="|location.href='@{/board/status(post=${showBoardForm.board_id})}'|">삭제 하기</button>
        </div>
        <div class="ml-1">
          <input  type="hidden" th:value="${showBoardForm.isBookmarked}" placeholder="showBoardForm.isBookmarked" />
          <button type="button" class="btn btn-warning waves-effect waves-light"
                  th:if="${showBoardForm.isBookmarked == false}"
                  th:session_member="${showBoardForm.session_loginMemberName}" th:board_id="${showBoardForm.board_id}"
                  th:onclick="bookmark(this.getAttribute('session_member'), this.getAttribute('board_id'))">북마크</button>
          <button type="button" class="btn btn-secondary waves-effect waves-light"
                  th:if="${showBoardForm.isBookmarked == true}"
                  th:session_member="${showBoardForm.session_loginMemberName}" th:board_id="${showBoardForm.board_id}"
                  th:onclick="bookmark_cancel(this.getAttribute('session_member'), this.getAttribute('board_id'))">북마크 해제</button>
        </div>
      </div>
    </form>
    <br>
    <!-- Reply Section -->
    <div class="starter-template">
      <!-- 작성한 댓글 보여주기 -->
      <h5>comment</h5>
      <div class="container">
        <th:block th:each="comment : ${showBoardForm.commentDto}">
          <!-- parent 댓글 section -->
          <div th:if="${comment.deep} == 0 and ${comment.isRemoved} != true" class="card mb-2 bg-transparent border-secondary">
            <div class="card-body border-secondary">
              <ul class="list-group list-group-flush">
                <li class="list-group-item">
                  <div class="form-inline mb-2">
                    <input type="hidden" th:field="*{board_id}" th:value="${board_id}"/>
                    <input type="hidden" th:value="${comment.comment_id}" class="comment_id"/>
                    <span th:text="${comment.name}" class="writer_name ml-4"></span>
                    <span th:text="${comment.write_date} ? |작성시간 : ${#temporals.format(comment.write_date,'yyyy-MM-dd HH:mm')}|" class="ml-4"></span>
                    <span th:text="${comment.update_date} ? |수정시간 : ${#temporals.format(comment.update_date,'yyyy-MM-dd HH:mm')}|" class="ml-4"></span>
                    <!-- 댓글 신고 버튼 -->
                    <button type="button" class="btn btn-sm"
                            th:if="${comment.name} != ${showBoardForm.session_loginMemberName}"
                            th:comment_id="${comment.comment_id}" th:comment_writer="${comment.name}" th:report_item="|COMMENT|"
                            th:onclick="reportContent(this.getAttribute('comment_id'), this.getAttribute('comment_writer'), this.getAttribute('report_item'))">
                      <span class="badge badge-danger">신고</span></button>
                  </div>
                  <textarea th:text="${comment.comment_content}" class="comment_content form-control mb-2"
                            th:attr="readonly = ${comment.name} != ${showBoardForm.session_loginMemberName}"></textarea>
                  <div class="form-inline mb-2">
                    <button type="button" class="addComment btn btn-dark">답글</button>
                    <button th:if="${comment.name} == ${showBoardForm.session_loginMemberName}"
                            type="button" class="updateComment btn btn-primary ml-2">수정</button>
                    <button th:if="${comment.name} == ${showBoardForm.session_loginMemberName}"
                            th:comment_id="${comment.comment_id}" th:onclick="deleteComment(this.getAttribute('comment_id'))"
                            type="button" class="deleteComment btn btn-danger ml-2">삭제</button>
                  </div>
                </li>
              </ul>
            </div>
            <!-- 대댓글 등록하는 body 생성 section -->
            <div id="reComment_body"></div>
            <!-- child 댓글 리스트 보여주는 section -->
            <div th:each="child : ${comment.child}">
              <div th:if="${child.isRemoved} != true and ${comment.comment_id} == ${child.parentComment_id}" class="card mb-2 ml-5 mr-2 border-primary">
                <div class="card-body">
                  <ul class="list-group list-group-flush">
                    <li class="list-group-item">
                      <div class="form-inline mb-2">
                        <input type="hidden" th:value="${child.comment_id}" class="comment_id"/>
                        <span th:text="${child.name}" class="writer_name ml-4"></span>
                        <span th:text="${child.write_date} ? |작성시간 : ${#temporals.format(child.write_date,'yyyy-MM-dd HH:mm')}|" class="ml-4"></span>
                        <span th:text="${child.update_date} ? |수정시간 : ${#temporals.format(child.update_date,'yyyy-MM-dd HH:mm')}|" class="ml-4"></span>
                        <!-- 대댓글 신고 버튼 -->
                        <button type="button" class="btn btn-sm"
                                th:if="${child.name} != ${showBoardForm.session_loginMemberName}"
                                th:comment_id="${child.comment_id}" th:comment_writer="${child.name}" th:report_item="|COMMENT|"
                                th:onclick="reportContent(this.getAttribute('comment_id'), this.getAttribute('comment_writer'), this.getAttribute('report_item'))">
                          <span class="badge badge-danger">신고</span></button>
                      </div>
                      <textarea th:text="${child.comment_content}" class="comment_content form-control mb-2"
                                th:attr="readonly = ${child.name} != ${showBoardForm.session_loginMemberName}"></textarea>
                      <div th:if="${child.name} == ${showBoardForm.session_loginMemberName}" class="form-inline mb-2">
                        <button type="button" class="updateComment btn btn-primary ml-2">수정</button>
                        <button type="button" th:comment_id="${child.comment_id}" th:onclick="deleteComment(this.getAttribute('comment_id'))"
                                class="deleteChildComment btn btn-danger ml-2">삭제</button>
                      </div>
                    </li>
                  </ul>
                </div>
              </div>
              <!-- 삭제된 child 댓글 section -->
              <div th:if="${child.isRemoved} != false and ${comment.comment_id} == ${child.parentComment_id}" >
                <div class="card text-center mb-2 ml-5 mr-2 border-primary">
                  <div class="card-body">
                    <span class="card-title text-secondary font-weight-bolder">삭제된 대댓글 입니다.</span>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <!-- 삭제된 parent 댓글 section -->
          <div th:if="${comment.deep} == 0 and ${comment.isRemoved} != false">
            <div class="card text-center mb-2 border-secondary">
              <div class="card-body">
                <span class="card-title text-secondary font-weight-bolder">삭제된 댓글 입니다.</span>
              </div>
            </div>
          </div>
        </th:block>
      </div>
      <div class="form-group mb-3">
        <!-- 댓글 등록 form -->
        <input id="commentForm_board_id" type="hidden" th:field="*{board_id}" th:value="${board_id}"/>
        <div class="form-group">
          <label for="comment_content" class="col-sm-2 control-label" style="float: left">댓글</label>
          <!-- Controller 에서 넘겨주는 error 메세지 표시 -->
<!--          <span class="errorText" th:if="${cm_errors}" th:text="${cm_errors}"
                th:classappend="${cm_errors} ? 'h6' : 'form-control'">comment error text</span>
          <div class="col-auto">-->
            <textarea id="comment_content" class="form-control mb-1" placeholder="댓글을 입력해주세요.." aria-label="댓글을 입력해주세요.." aria-describedby="basic-addon2"></textarea>
          </div>
        </div>
        <div class="input-group-append mb-3">
          <button type="button" class="btn btn-primary waves-effect waves-light"
                  th:onclick="showBoard_createComment('[[${member.isBanned}]]', '[[${member.ban_end_time}]]')">등록</button>
        </div>
      </div>
    </div>
  </div>
  <div th:replace="fragments/footer :: footer" />
  <!-- modal -->
  <div th:replace="modal/reportModal :: reportModal"></div>
</main>
</body>
</html>