<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/header :: header">
  <title>Hello</title>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<style>
 .fieldError {
 border-color: #bd2130;
 color: #bd2130;
 }

 .errorText {
 color: #bd2130;
 border: none;
 }

 #news-list-body {
 overflow-y: scroll;
 max-height: 645px;
 }
</style>
<script type="text/javascript" th:inline="javascript" th:src="@{/jpaPublic_js/newsPage.js}"></script>
<body>
<div class="container" style="max-width: 850px;">
  <div th:replace="fragments/joinPageHeader :: joinPageHeader"/>
  <div class="news-container">
    <div class="news-header text-center">
      <input type="hidden" id="session_member_id" th:value="${session_member.id}" />
      <h2 class="mb-3">Top Headline News Contents</h2>
      <div class="country_buttons">
        <button type="button" class="btn btn-primary"
                th:country_code="kr" th:onclick="getTopHeadlinesNews(this.getAttribute('country_code'))">Korea</button>
        <button type="button" class="btn btn-primary"
                th:country_code="us" th:onclick="getTopHeadlinesNews(this.getAttribute('country_code'))">US</button>
        <button type="button" class="btn btn-primary"
                th:country_code="jp" th:onclick="getTopHeadlinesNews(this.getAttribute('country_code'))">Japan</button>
      </div>
    </div>
    <hr color="gray" style="border-top: 1px solid;">
    <div id="news-list-body">
      <div class="card text-center border-primary mt-5 mb-5">
        <div class="card-body">
          <h3 class="card-title text-primary">기사를 가져오고 있습니다...</h3>
        </div>
    </div>
  </div>
  <div th:replace="fragments/footer :: footer" />
</div> <!-- /container -->
</body>
</html>