<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<div class="header" th:fragment="bodyHeader">
    <ul class="nav nav-pills pull-right">
        <li><a href="/login">LoginPage</a></li>
    </ul>
    <ul class="nav nav-pills pull-right">
        <li>
            <a href="/mainHome"><h3 class="text-muted">JPA-public Main</h3></a>
        </li>
        <li>
            <h3 class="ml-3" th:text="|로그인 사용자 이름: ${member.name}">로그인 사용자 이름</h3>
        </li>
        <li>
            <div class="col">
                <form th:action="@{/logout}" method="post">
                    <button class="w-100 btn btn-info btn-sm" onclick="location.href='items.html'" type="submit">
                        로그아웃
                    </button>
                </form>
            </div>
        </li>
    </ul>
</div>