<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/header :: header">
    <title>Hello</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
<div class="container">
    <div th:replace="fragments/bodyHeader :: bodyHeader" />
    <div class="jumbotron">
        <h1>Main Home</h1>
        <p class="lead">회원 기능</p>
        <p>
            <a class="btn btn-lg btn-primary" href="/myPage/info">마이페이지</a>
        </p>
        <p class="lead">게시판 기능</p>
        <p>
            <a class="btn btn-lg btn-secondary" href="/board/new">게시판 작성</a>
            <a class="btn btn-lg btn-primary" href="/boards">게시글 목록</a>
        </p>
        <p class="lead">Today's Top News</p>
        <p>
            <a class="btn btn-lg btn-secondary" href="/news">News</a>
        </p>
    </div>
    <div th:replace="fragments/footer :: footer" />
</div> <!-- /container -->
</body>
</html>