<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/header :: header">
  <title>Hello</title>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body class="text-center">
<div class="container">
  <div th:replace="fragments/bodyHeader :: bodyHeader" />
  <form class="form-signin" th:action="@{/account/login2}" method="post"> <!-- 요청 보내기-->
    <h1 class="h3 mb-3 font-weight-normal">Please sign in</h1>

    <div th:if="${param.error}"  class="alert alert-danger" role="alert">
      Invalid username and password
    </div>

    <div th:if="${param.logout}"  class="alert alert-primary" role="alert">
      You have been logged out
    </div>

    <label for="username" class="sr-only h3">username</label>
    <input type="text" id="username" name="username" class="form-control mb-3" placeholder="username" required autofocus>

    <label for="password" class="sr-only h3">password</label>
    <input type="password" id="password" name="password" class="form-control mb-3" placeholder="password" required>

    <button class="btn btn-lg btn-primary btn-block" type="submit">Sign in</button>
  </form>
  <div th:replace="fragments/footer :: footer" />
</div>
</body>
</html>